{% load template_utils %}
{% load var %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    {# Global meta tags #}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=0, minimal-ui">

    {# Page specific meta tags rendered from child template as {% block meta %}...{% endblock meta %} #}
    {% block meta %}{% endblock meta %}

    {# Default Automatic Title management based on passed title and global title from site_settings else rendered from child template as {% block head_title %}...{% endblock head_title %} #}
    <title>
        {% block head_title %}
            {% if title %}{{ title }}{% endif %}
            {% if title and site_setting.site_title %} | {{ site_setting.site_title }}{% endif %}
        {% endblock head_title %}
    </title>

    {# Page specific extra head parts rendered from child template as {% block extra_head %}...{% endblock extra_head %} #}
    {% block extra_head %}{% endblock extra_head %}

    {# Get page icon from site settings if available or use favicon.png as default #}
    <link rel="shortcut icon" type="image/png" href="{% if site_setting.site_logo %}{{ site_setting.site_logo.url }}{% else %}{{ STATIC_URL }}favicon.png{% endif %}"/>

    {# CSS for base template, can be changed using {% block base_css %}...{% endblock base_css %} #}
    {% block base_css %}{% include 'base-css.html' %}{% endblock base_css %}

    {# Global CSS for entire website, can be changed using {% block main_css %}...{% endblock main_css %} #}
    {% block main_css %}{% include 'main-css.html' %}{% endblock main_css %}

    {# App specific CSS, it is rendered from child template as {% block app_css %}...{% endblock app_css %} #}
    {% block app_css %}{% var APP_URL|concat:'css.html' as app_css_html %}{% if app_css_html|template_exists %}{% include app_css_html %}{% endif %}{% endblock app_css %}

    {# Page specific CSS, it is rendered from child template as {% block style %}...{% endblock style %} #}
    {% block style %}{% endblock style %}

    {# Page specific JS that needs to be placed in head of document, it is rendered from child template as {% block head_script %}...{% endblock head_script %} #}
    {% block head_script %}{% endblock head_script %}
</head>
{# Body tag, incase need to be changed, use {% block body_tag %}<body...>{% endblock body_tag %} in child template#}
{% block body_tag %}<body>{% endblock body_tag %}
    {# Preloader #}
    <div class="loader-splash" id="splash-loader-overlay">
        <div class="loader">
            <div class="square"></div>
            <div class="path">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <span aria-label="Loading..."></span>
        </div>
    </div>

    {# Main contents #}
    <div id="base-contents">
        <div id="base-content-1">
            {% block nav %}{% include 'nav.html' %}{% endblock nav %}
            {% block messages %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" onclick="msg_close(this)" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endblock messages %}
        </div>
        <div id="base-content-2">
            <div style="width: 100%!important;">
            {% block body %}
                {% block content  %}{% endblock content %}
            {% endblock body %}
            {% block extra_body %}{% endblock extra_body %}
            </div>
        </div>
        <div id="base-content-3">
            {% block footer %}{% include 'footer.html' %}{% endblock footer %}
            {% block gototop %}
                <div id="goToTopWrap" onclick="goToTop();">
                    <div id="goToTopArrow">
                        <span id="goToTop-left-wing"></span>
                        <span id="goToTop-right-wing"></span>
                    </div>
                </div>
            {% endblock gototop %}
            {% csrf_token %}
        </div>
    </div>

    {# JS for base template, can be changed using {% block base_js %}...{% endblock base_js %} #}
    {% block base_js %}{% include 'base-js.html' %}{% endblock base_js %}

    {# Global JS for entire website, can be changed using {% block main_js %}...{% endblock main_js %} #}
    {% block main_js %}{% include 'main-js.html' %}{% endblock main_js %}

    {# App specific JS, it is rendered from child template as {% block app_js %}...{% endblock app_js %} #}
    {% block app_js %}{% var APP_URL|concat:'js.html' as app_js_html %}{% if app_js_html|template_exists %}{% include app_js_html %}{% endif %}{% endblock app_js %}

    {# Page specific JS, it is rendered from child template as {% block script %}...{% endblock script %} #}
    {% block script %}{% endblock script %}
</body>
</html>