##### START
###########send all requests to kestrel backed ###########
RequestHeader set "X-Forwarded-Proto" expr=%{REQUEST_SCHEME}
ProxyPreserveHost On

### MOST SPECIFIC DIRECTIVE SHOULD BE DECLARED FIRST AS REQUIRED BY APACHE #####
###### NEXT LINE OF CONFIG IS NEEDED NOT TO CONFLICT WITH letsencrypt automatic ssl renew##############
ProxyPass /.well-known !

############## ignore following url ######
## ProxyPass /ignoreme !

############ end directive ##########
ProxyPass / http://127.0.0.1:{{PORT}}/
ProxyPassReverse / http://127.0.0.1:{{PORT}}/

############### redirection @###########3
RewriteCond %{HTTPS} off
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
############ redirection end @#############

############ this is needed for signalR ##############
RewriteEngine on
RewriteCond %{HTTP:UPGRADE} ^WebSocket$ [NC]
RewriteCond %{HTTP:CONNECTION} Upgrade$ [NC]
RewriteRule /(.*) ws://127.0.0.1:{{PORT}}/$1 [P]
##### END